{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["ie >= 11"]
          },
          "exclude": [
            "babel-plugin-transform-es2015-typeof-symbol"
          ],
          "loose": true
        }]
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 11"]
      },
      "exclude": [
        "babel-plugin-transform-es2015-typeof-symbol"
      ],
      "modules": false,
      "loose": true
    }]
  ]
}
